body {
    font-family: "Poppins", sans-serif;
    background: #f2f2f2;
    color: white;
    letter-spacing: 1px;
  }

hr {
    height: 1px;
    background: white;
    font-size: 0;
    border: 0;
    margin-top: 10px;
    margin-bottom: 15px;
}

.pricing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 2rem;
}

.pricing-plan {
    flex: 1;
    max-width: 400px;
    padding: 20px;
    border-radius: 5%;
    background: linear-gradient(to right, rgb(115, 218, 250), rgb(197, 88, 248));
    margin: 5px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.plan-title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.plan-price {
    text-align: center;
    font-size: 35px;
    font-weight: bolder;
}

.plan-features {
    padding: 0;
}

ul {
    list-style-type: none;
    font-size: 20px;
}

li {
    margin-bottom: 15px;
}

.plan-button {
    display: block;
    margin: auto;
    border-style: none;
    border-radius: 5px;
    height: 30px;
    width: 70px;
    background: #ff6600;
    color: white;
    font-size: 15px;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

  /* Hint: What can you do with a media query and flexbox? */
  @media (max-width: 1000px) {
    .pricing-container {
      flex-direction: column;
      height: 100%;
    }

    .pricing-plan {
        width: 100%;
    }

  }